version: "3.9"

services:
  db:
    image: postgres:16
    container_name: sla_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: sla_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: sla_watchdog
    environment:
      DATABASE_URL: postgresql+asyncpg://user:pass@db:5432/sla_db
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  db_data:
